<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">My Game</a>
    <ul class="navbar-menu">
      <li>
        <a (click)="navigatePage('')" [ngClass]="{ active: activePage === '' }"
          >Home</a
        >
      </li>
      <li>
        <a
          (click)="navigatePage(firstGamePage)"
          [ngClass]="{ active: activePage === firstGamePage }"
          >Game 1</a
        >
      </li>
      <li>
        <a
          (click)="navigatePage(secondGamePage)"
          [ngClass]="{ active: activePage === secondGamePage }"
          >Game 2</a
        >
      </li>
      <li>
        <a
          (click)="navigatePage(thirdGamePage)"
          [ngClass]="{ active: activePage === thirdGamePage }"
          >Game 3</a
        >
      </li>
      <li>
        <a
          (click)="navigatePage(fourthGamePage)"
          [ngClass]="{ active: activePage === fourthGamePage }"
          >Game 4</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
