<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand">Q's puzzle game</a>
    <ul class="navbar-menu">
      <ng-container *ngFor="let page of pages; index as index">
        <li>
          <a
            (click)="navigatePage(page)"
            [ngClass]="{ active: activePage === page }"
            >{{ displayGameTitle (page) }}</a
          >
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
