.navbar {
  background-color: var(--dark-bg);
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.navbar-menu li {
  display: inline;
  padding: 7px;
}
.navbar-menu a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.navbar-menu a:hover {
  background-color: #0056b3;
}
.navbar-menu .active {
  padding: 8px;
  background-color: #0056b3;
}

.container {
  max-width: 1500px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
